
h1, h2, h6, th, .poster {
    text-align: center;
}

.legend {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.items {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.legend__poster {
    height: 2rem;
    width: calc(100vw/7);
}

h6 {
    padding-top: 0.3rem;
    height: 2rem;
    margin-bottom: 0;
}
.date {
    text-align: right;
    margin-bottom: 0.5rem;
}

h1, .table-responsive {
    max-width: 100%;
    padding: 1.5rem;
}

th {
    width: 20%;
}
.Bobby {
    background-image: linear-gradient(315deg, rgba(200, 56, 50, 0.25), rgba(200, 56, 50, 1)) ;
}
.Emily {
    background-image: linear-gradient(315deg, rgba(255, 165, 0, 0.25), rgba(255, 165, 0, 1)) ;
}
.Rachel {
    background-image: linear-gradient(315deg, rgba(255, 255, 0, 0.25), rgba(255, 255, 0, 1)) ;
}
.Tricia {
    background-image: linear-gradient(315deg, rgba(154, 205, 50, 0.25), rgba(154, 205, 50, 1)) ;
}
.Litton {
    background-image: linear-gradient(315deg, rgba(0, 128, 0, 0.25), rgba(0, 128, 0, 1)) ;
}
.Monica {
    background-image: linear-gradient(315deg, rgba(13,152,186, 0.25), rgba(13,152,186, 1))
}
.Lauren {
    background-image: linear-gradient(315deg, rgba(0, 0, 255, 0.25), rgba(0, 0, 255, 1)) ;
}
.Brandon {
    background-image: linear-gradient(315deg, rgba(75, 0, 130, 0.25), rgba(75, 0, 130, 1)) ;
}
.Nicole {
    background-image: linear-gradient(315deg, rgba(238, 130, 238, 0.25), rgba(238, 130, 238, 1)) ;
}
.Lanxner {
    background-image: linear-gradient(315deg, rgba(136, 113, 145, 0.25), rgba(136, 113, 145, 1));
}
.Kat {
    background-image: linear-gradient(315deg, rgba(128, 128, 128, 0.25), rgba(128, 128, 128, 1));
}