<h1>Culture Club - Alone Together Prompt Assignments</h1>

<div class="legend">
    <h4>Legend:</h4>
    <div class="items">
        {{#each posters as |poster|}}
            <div class="legend__poster">
                <h6 class={{poster}}>{{poster}}</h6>
            </div>
        {{/each}}
    </div>
</div>


{{#each months as |month|}}
    <hr>
    <h2>{{month.name}}</h2>

    <div class="table-responsive">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Monday</th>
                    <th scope="col">Tuesday</th>
                    <th scope="col">Wednesday</th>
                    <th scope="col">Thursday</th>
                    <th scope="col">Friday</th>
                </tr>
            </thead>
            <tbody>
                {{#each-in month.weeks as |week days|}}
                    {{table-row
                        week=week
                        days=days
                        firstWeek=month.firstWeek
                    }}
                {{/each-in}}
            </tbody>
        </table>
    </div>

{{/each}}
